  .timetable {
    display: grid;
    grid-template-columns: 100px repeat(6, 142px);
    grid-template-rows: repeat(9, 84px);
  }
  
  .titleWrapper {
    display: grid;
    grid-column: 1 / 8;
    grid-template-columns: 100px repeat(6, 142px);
    margin-bottom: 10px;
  }
  
  .timeWrapper {
    display: grid;
    grid-row: 2 / 10;
    grid-template-rows: repeat(9, 84px);
    margin-top: -10px;
  }

  .timeWrapper div {
    text-align: center;
    font-weight: 600;
    color: #212b36;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  .tableElement {
    padding: 4px;
    position: relative;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #212b36;
  }
  
  .tableElement:hover {
    cursor: pointer;
  }

  .tableElement span {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    color: #212b36;
  }

  .titleWrapper p {
      position: relative;
  }

  .titleWrapper span {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
    color: #212b36;
  }
  
  .timeWrapper div:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .timeWrapper div:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .timeWrapper div:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .timeWrapper div:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .timeWrapper div:nth-of-type(5) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .timeWrapper div:nth-of-type(6) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
  .timeWrapper div:nth-of-type(7) {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }
  .timeWrapper div:nth-of-type(8) {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }
  .timeWrapper div:nth-of-type(9) {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
  }
  
  .timeColumn {
    grid-column: 1 / 2;
  }
  
  .monday {
    grid-column: 2 / 3;
  }
  
  .tuesday {
    grid-column: 3 / 4;
  }
  
  .wednesday {
    grid-column: 4 / 5;
  }
  
  .thursday {
    grid-column: 5 / 6;
  }
  
  .friday {
    grid-column: 6 / 7;
  }

  .saturday {
    grid-column: 7 / 8;
  }
  
  /* start times */
  
  .nineOclock {
    grid-row-start: 2;
    background-color: #d1c4e9;
  }
  
  .tenOclock {
    grid-row-start: 3;
    background-color: #bbdefb;
  }
  
  .elevenOclock {
    grid-row-start: 4;
    background-color: #b2ebf2;
  }
  
  .twelveOclock {
    grid-row-start: 5;
    background-color: #c8e6c9;
  }
  
  .oneOclock {
    grid-row-start: 6;
    background-color: #d1c4e9;
  }
  
  .twoOclock {
    grid-row-start: 7;
    background-color: #bbdefb;
  }
  
  .threeOclock {
    grid-row-start: 8;
    background-color: #b2ebf2;
  }
  
  .fourOclock {
    grid-row-start: 9;
    background-color: #c8e6c9;
  }
  
  /* end times */
  
  .endTenOclock {
    grid-row-end: 3; 
  }
  
  .endElevenOclock {
    grid-row-end: 4;
  }
  
  .endTwelveOclock {
    grid-row-end: 5;
  }
  
  .endOneOclock {
    grid-row-end: 6;
  }
  
  .endTwoOclock {
    grid-row-end: 7;
  }
  
  .endThreeOclock {
    grid-row-end: 8;
  }
  
  .endFourOclock {
    grid-row-end: 9;
  }
  
  .endFiveOclock {
    grid-row-end: 10;
  }